<app-todo-create></app-todo-create>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-center">Descripción</th>
      <th class="text-center">Fecha Creado</th>
      <th class="text-center">Estado</th>
      <th class="text-center">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todos">
      <td class="text-center">{{todo.description}}</td>
      <td class="text-center">{{todo.created_At}}</td>
      <td class="text-center">{{todo.estado | estadoEnumText }}</td>
      <td class="d-flex justify-content-center gap-2">
        <button class="btn btn-warning btn-sm" (click)="edit(todo)">
          <i class="pi pi-pencil"></i>
        </button>
        <button class="btn btn-danger btn-sm" (click)="confirmDelete((todo.id))">
          <i class="pi pi-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>