<div class="card">
  <div class="card-header">
    <h5 class="card-title"> TODO-APP </h5>
  </div>

  <form [formGroup]="formLogin" (ngSubmit)="send()">
    <div class="card-body">
      <div class="form-group">
        <label for="ForInputEmailLogin"> Email </label>
        <input class="form-control" id="ForInputEmailLogin" formControlName="email">
        <div class="alert alert-danger mt-2" [hidden]="email.valid || email.pristine">
          <span *ngIf="email.errors?.['required']">
            Campo requerido
          </span>

          <span *ngIf="email.errors?.['email']">
            Email no válido
          </span>

          <span *ngIf="email.errors?.['maxlength']">
            Máximo 255 caracteres
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="ForInputPasswordLogin">Password</label>
        <input type="password" class="form-control" id="ForInputPasswordLogin" formControlName="password">
          <div class="alert alert-danger mt-2" [hidden]="password.valid || password.pristine">
            <span *ngIf="password.errors?.['required']">
              Campo requerido
            </span>

            <span *ngIf="password.errors?.['minlength']">
              Mínimo 8 caracteres
            </span>

            <span *ngIf="password.errors?.['maxlength']">
              Máximo 30 caracteres
            </span>
          </div>
      </div>
    </div>

    <div style="display: flex; justify-content: end;" class="card-footer">
      <button type="submit" class="btn btn-primary" [disabled]="formLogin.invalid">log-in</button>
    </div>
  </form>

</div>
